$background: rgb(31, 36, 48);
$text: white;
$accent: slateblue;
$curve: 3px;

$background: var(--backgroundColor);
$text: var(--textColor);
$input-primary: var(--inputPrimary);
$input-secondary: var(--inputSecondary);
$card: var(--cardColor);